.navbar{
    background-color: $color2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 0;
    @include responsive(m){
    // padding: 83px 152px 0 152px;
    }
    
    &_logo{
        span{
            display: block;
            color: $color3;
            font-size: 20px;
        }
    }
    
    &_menu{
        display: flex;
        position: absolute;
        list-style: none;
        top: 0;
        right: 0;
        flex-direction: column;
        background-color: $color2;
        height: 100vh;
        align-items: center;
        width: 100%;
        justify-content: center;
        gap: 2em;
        font-size: 20px;
        font-weight: 400;
        transform: translateX(100%);
        transition: all 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);

        @include responsive(m){
        display: flex;
        position: static;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        height: 0;
        width: 25%;
        transform: translateX(0);
        transition: none;
        gap: 4em;
        }

        &_list{
            a{
                text-decoration: none;
                color: $color3;
                &:hover{
                color: rgb(136, 136, 136);
                transition: all 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
                transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
                }
                @include responsive(m){
                    display: block;
                    position: relative;
                    padding: 5px 0;

                    &::after {
                    content: '';
                    position: absolute;
                    margin-bottom: -7px;
                    bottom: 0;
                    left: 25%;
                    width: 0;
                    border-bottom: 2px solid $color3;
                    transition: all 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
                    transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
                    }

                    &:hover::after {
                    width: 50%;
                    }
                }
            }
        }

    }

    &_menu.seret{
        transform: translateX(0);
    }

    &_toggle{
        cursor: pointer;
        display: flex;
        flex-direction: column;
        position: relative;
        @include responsive(m){
            display: none;
        }

        input{
        z-index: 10;
        position: absolute;
        width: 40px;
        height: 40px;
        opacity: 0;
        cursor: pointer;
        }

        input:checked ~ span:nth-child(2){
            transform: translateY(4px) rotate(135deg);
        }

        input:checked ~ span:nth-child(3){
            opacity: 0;
            transform: translateX(-60px);
        }

        input:checked ~ span:nth-child(4){
            transform: translateY(-9px) rotate(-135deg);
        }

        span{
        transition: all 400ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
        transition-timing-function: cubic-bezier(0.770, 0.000, 0.175, 1.000);
        display: block;
        background-color: white;
        height: 1px;
        width: 23px;
        margin: 2.9px;
        }
    }
}