// color function
$color1:#ffffff;
$color2:#000000; 
$color3:#ffffff;

// #ffffff
// #000000

// mixin

@mixin text($size,$weight){
    font-size: $size;
    font-weight: $weight;
}

// @include text(20px,regular)

@mixin flex($align,$justify, $direction){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}

// @include flex(flex,center,center,center)