// color function
$color1:#F1F1F1;
$color2:#0F3D3E; 
$color3:#ffffff;

// mixin

@mixin text($size,$weight){
    font-size: $size;
    font-weight: $weight;
}

@mixin flex($align,$justify, $direction){
    display: flex;
    align-items: $align;
    justify-content: $justify;
    flex-direction: $direction;
}