.container_about{
    margin-top: 3em;
    padding: 3em 2em;
    border-left: 1px solid $color2;
    border-bottom: 1px solid $color2;

    @include responsive(xs){
        padding: 3em 3em;
    }

    @include responsive(s){
        padding: 3em 5em;
    }
    
    .about{
        @include flex(Default,Default,column);
        gap: 1em;

        &_caption{
            display: block;
            @include text(35px, Bold);
            margin-bottom: .2em;
        }
    
        &_content{
            display: block;
            @include text(15px, 300);
            line-height: 25px;
            span{
                font-weight: bold;
            }
        }

        &_history{
            display: block;
            @include text(15px,300);
            line-height: 25px;
            @include responsive(s){
                // line-height: 30px
            }
            span{
                display: block;
                .fw_bold{
                    font-weight: bold;
                    // @include responsive(s){display: inline;}
                }
            }
        }
    
        &_button{
            margin-top: 1em;
            margin-bottom: 1em;
            
            a{
            @include text(12px, 300);
            background-color: $color2;
            text-decoration: none;
            color: $color1;
            padding: 1em 2em;
            }
        }
    }

}