.about{
    margin-top: 12em;
    padding-bottom: 10em;

    &_caption{
        display: flex;
        flex-direction: row;
        width: 100%;
        @include text(60px,500);
        &::before{
            content: '';
            border-bottom: 1px solid white;
            margin: auto 20px auto 0px;
            width: 100%;
        }
    }

}