.hero{
    // margin: 0 1.8em;
    height: 65vh;
    background-color:$color1;
    @include flex(center,center,default);
    @include responsive(m){
    margin: 80px 0;
    }

    span{
    position: absolute;
    color: $color3;
    font-size: 96px;
    font-weight: bold;
    }
}

.scroll{
    @include text(15px,400);
    @include flex(center,center,default);
    padding-top: 5em;
    @include responsive(m){
        @include text(20px,400)
    }
    
    span{
        @include flex(center,center,default);
        &::after{
            z-index: -1;
            transform: rotate(90deg);
            content: '';
            position: absolute;
            margin-right: 105px;            
            width: 70px;
            border-bottom: 1px solid $color3;
            @include responsive(m){
                margin-right: 125px;
            }
        }
    }
}