.history{
    padding: 3.5em 1.5em;
    @include flex(Default,Default,column);
    gap: 1em;

    &_caption{
        @include text(30px,Bold);
        display: block;
        margin-bottom: .2em;
    }

    &_content{
        display: block;
        @include text(12px,300);
        line-height: 22px;
        span{
            font-weight: bold;
        }
    }

    &_line{
        border-bottom: 1px solid $color2;
        margin-left: 1.5em;
    }
}