.portofolio{
    // background-color: aqua;
    @include flex(default,default,column);
    gap: 1.5em;
    padding: 3.5em 1.5em;
    border-bottom: 1px solid $color2;

    &_caption{
    @include text(30px, Bold);
    margin-bottom:.2em;
    }

    &_card{
        &_img{
            width: 247px;
            height: 138px;
        }

        &_line{
            background-color: $color2;
            height: 1px;
            width: 100px;
            margin: 1.5em 0;
        }

        &_content{
            line-height: 22px;
            @include text(12px, 300);
        }
    }
}