.portofolio{
    padding: 3.5em 1.5em;
    border-bottom: 1px solid $color2;
    // background-color: aqua;

    &_container{
    margin-right: 3em;
    @include flex(default,default,column);
    gap: 1.5em;
    // background-color: red;

    &_caption{
        @include text(30px, Bold);
        margin-bottom:.2em;
        }
    
        &_card{
            &_img{
                width: 90%;
            }
    
            &_line{
                background-color: $color2;
                height: 1px;
                width: 100px;
                margin: 1.5em 0;
            }
    
            &_content{
                line-height: 22px;
                @include text(12px, 300);
            }
        }

    }
}