.portofolio{
    padding: 3em 2em;
    border-bottom: 2px solid $color2;
    border-left: 2px solid $color2;

    &_container{
    @include flex(default,default,column);
    gap: 1em;

        @include responsive(xs){
            margin-left: 3em;
        }

        @include responsive(s){
            margin-left: 4em;
        }

    &_caption{
        @include text(30px, Bold);
        margin-bottom:.2em;
        }
    
        &_card{
            &_img{
                width: 90%;
            }
    
            &_line{
                background-color: $color2;
                height: 1px;
                width: 100px;
                margin: 1.5em 0;
            }
    
            &_content{
                line-height: 22px;
                @include text(12px, 300);
            }
        }

    }
}