$primary-color: #FF6B6B;
$primary-color-hover: scale-color($primary-color, $lightness: 32%);

.portofolio{
    padding: 2em 2em;
    
    &_container{
        
        &_list{
        line-height: 1.4em;
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        }
        
        &_schedule{
            border-top: 1px solid $color2;
            border-bottom: 1px solid $color2;
            padding: 2em 0;
            margin: 2em 0;
        }

        &_item{
            padding-left: 40px;
            position: relative;
            &:last-child {
            padding-bottom: 0;
            }
        }
    }
}

/*==================================
    TIMELINE
==================================*/

    /*----- TIMELINE ITEM -----*/

    .timeline-item {
        padding-left: 40px;
        position: relative;
        &:last-child {
            padding-bottom: 0;
        }
    }

    /*----- TIMELINE INFO -----*/

    .timeline-info {
        font-size: 12px;
        font-weight: 700;
        letter-spacing: 3px;
        margin: 0 0 .5em 0;
        text-transform: uppercase;
        white-space: nowrap;
    }
    /*----- TIMELINE MARKER -----*/

    .timeline-marker {
        position: absolute;
        top: 2px; bottom: 0; left: 0;
        width: 12px;
        &:before {
            background: $primary-color;
            border: 2px solid transparent;
            border-radius: 100%;
            content: "";
            display: block;
            height: 12px;
            position: absolute;
            top: 4px; left: -1px;
            width: 12px;
            transition: background 0.3s ease-in-out,
                    border 0.3s ease-in-out;
        }
        &:after {
            content: "";
            width: 1px;
            background: #CCD5DB;
            display: block;
            position: absolute;
            top: 27px; bottom: 0; left: 6px;
        }
        .timeline-item:last-child &:after {
            content: none;
        }
    }
    .timeline-item:hover .timeline-marker:before {
        background: transparent;
        border: 2px solid $primary-color;
    }

    .portofolio_container_item:hover .timeline-marker:before {
        background: transparent;
        border: 2px solid $primary-color;
    }
    
    /*----- TIMELINE CONTENT -----*/

    .timeline-content {
        padding-bottom: 40px;
    }

    /*----------------------------------------------
        MOD: TIMELINE CENTERED
    ----------------------------------------------*/

        .timeline-centered {
            @media (min-width: 992px) {
                &,
                .timeline-item,
                .timeline-info,
                .timeline-marker,
                .timeline-content {
                    display: block;
                    margin: 0;
                    padding: 0;
                }
                .timeline-item {
                    padding-bottom: 40px;
                    overflow: hidden;
                }
                .timeline-marker {
                    position: absolute;
                    left: 50%;
                    margin-left: -7.5px;
                }
                .timeline-info,
                .timeline-content {
                    width: 50%;
                }
                > .timeline-item:nth-child(odd) .timeline-info {
                    float: left;
                    text-align: right;
                    padding-right: 30px;
                }
                > .timeline-item:nth-child(odd) .timeline-content {
                    float: right;
                    text-align: left;
                    padding-left: 30px;
                }    
                > .timeline-item:nth-child(even) .timeline-info {
                    float: right;
                    text-align: left;
                    padding-left: 30px;
                }
                > .timeline-item:nth-child(even) .timeline-content {
                    float: left;
                    text-align: right;
                    padding-right: 30px;
                }
                > .timeline-item.period .timeline-content {
                    float: none;
                    padding: 0;
                    width: 100%;
                    text-align: center;
                }
                .timeline-item.period {
                    padding: 50px 0 90px;
                }
                .period .timeline-marker:after {
                    height: 30px;
                    bottom: 0;
                    top: auto;
                }
                .period .timeline-title {
                    left: auto;
                }
            }
        }

    /*----------------------------------------------
        MOD: MARKER OUTLINE
    ----------------------------------------------*/
        
        .marker-outline {
            .timeline-marker {
                &:before {
                    background: transparent;
                    border-color: $primary-color;
                }
            }
            .timeline-item:hover .timeline-marker:before {
                background: $primary-color;
            }
        }