.container_portofolio{
    // margin-top: 3em;
    padding: 3em 2em;
    border-right: 1px solid $color1;
    border-bottom: 1px solid $color1;

    @include responsive(xs){
        padding: 3em 3em;
    }

    @include responsive(s){
        padding: 3em 5em;
    }

    .portofolio{

         &_card{
            margin: 2em 0;
            background-image: url('../../../src/img/portofolio_image.jpg');
            background-position: center;
            background-size: cover;
            padding-top: 7em;
            filter: grayscale(80%);
            border: 1px solid $color2;
         }

         &_content{
            background-color: $color1;
            padding: .5em 0;
         }

         &_span{
            @include flex(default,default,column);
            gap: .2em;
            margin-left: .5em;
            @include text(13px, 300)
         }

         &_icon{
            margin-top: .5em;
            margin-left: .5em;
            display: flex;
            gap: .8em;
            img{
                display: block;
                width: 40px;
            }
         }
    }
}