.container_portofolio{
    // margin-top: 3em;
    padding: 3em 2em;
    border-right: 1px solid $color1;
    border-bottom: 1px solid $color1;

    @include responsive(xs){
        padding: 3em 3em;
    }

    @include responsive(s){
        padding: 3em 5em;
    }

    .portofolio{

         &_card{
            margin: 2em 0;
            background-image: url('../../../src/img/portofolio_image.jpg');
            background-position: center;
            background-size: cover;
            padding-top: 2em;
            filter: grayscale(80%);
            border: 1px solid $color2;
         }

         &_content{
            background-color: $color1;
            padding: 1.5em 0;
            // padding-top: 5em;
         }

         &_span{
            margin: .5em;
            color: $color2;
            @include text(12px, 300);
         }

         &_icon{
            margin-left: .5em;
            display: flex;
            img{
                display: block;
            }
         }
    }
}