@import 'var/function';
@import 'var/med_query';

// Component
@import'style_comp/nav';
@import'style_comp/hero';
@import'style_comp/history';
@import'style_comp/portofolio';
@import'style_comp/footer';


body {
    background-color: $color1;
    font-family: 'montserrat', sans-serif;
    color: $color2;
}

* {
    margin: 0;
    padding: 0;
}

.vertical-line {
    height: 1900px;
    border-left: 1px solid $color2;
    position: absolute;
    right: 50px;
    top: 68px;

    @include responsive(xs){
        height: 2000px;
    }

    @include responsive(m){
        height: 2200px;
    }

    @include responsive(l){
        height: 2470px;
    }

    @include responsive(xl){
        height: 2800px;
    }

    @include responsive(hd){
        height: 3600px;
    }
  }