@import 'var/function';
@import 'var/med_query';

// Component
@import'style_comp/nav';
@import'style_comp/hero';
@import'style_comp/history';
@import'style_comp/portofolio';
@import'style_comp/footer';


body {
    background-color: $color1;
    font-family: 'montserrat', sans-serif;
    color: $color2;
}

* {
    margin: 0;
    padding: 0;
}

.vertical-line {
    color: $color1;
    position: fixed;
    top: 60%;
    background-color: $color2;

    .container{
        @include flex(flex-start, space-around, column);
        padding: 2em 1.5em;
        gap: .8em;
    }
}